:root {
  --main-green: #50c878;
  --light-blue: #add8e6;
  --dark-green: #2e8b57;
  --main-yellow: #ffff00;
  --main-orange: #ffa500;
  --main-white: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
  background-color: var(--light-blue);
  padding: 2em;
}

article {
  text-align: center;
  font-size: 2em;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.1em;
  margin: 0.1em;
}

aside {
  background-color: var(--main-green);
  grid-row: 2;
  width: 100%;
  grid-column: 1 / span 1;
  text-align: center;
  text-align: center;
}

header,
footer {
  background-color: var(--dark-green);
  text-align: center;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1;
}

footer {
  grid-column: 1 / span 3;
  grid-row: 3;
}

img {
  max-width: 30%;
  height: 3em;
  background-color: var(--main-yellow);
}

.orange-class {
  background-color: var(--main-orange);
  grid-column: 2 / span 2;
  grid-row: 2;
}

body {
  color: var(--main-white);
  font-size: 1em;
}
